langchain-core
numpy
torch
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-openai
chromadb
sentence-transformers
rank_bm25
kiwipiepy
rapidfuzz
olefile
pymupdf
pyyaml
